* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #ffffff;
    position: fixed;
}
p {
    font-family: 'Montserrat', sans-serif;
}
.inicioHeader {
    font-weight: bold;
    font-size: 2.3rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
}
nav {
width: 40vw;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.5rem;
}
.lista:hover {
font-weight: bold;
font-size: 1.4rem;
}
.listaP {
    font-weight: bold;
}

.listaP:hover {
font-size: 1.4rem;
}
.laranja {
    width: 100vw;
}
.titulo {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 22rem;
    margin-left: 6rem;
    color: #ffffff;
    font-weight: bold;
}
.subtitulo {
    color: #ffffff;
    font-size: 2rem;
    position: relative;
    bottom: 19rem;
    margin-left: 6.5rem;
    font-weight: 100;
}
.subtitulo:hover {
    font-size: 2.1rem;
}
.linha1 {
  display: flex;
  justify-content: space-evenly;  
}
.imagens1 {
    width: 21vw;
}
.imagens1:hover {
    width: 22vw;
}
.linha2 {
    display: flex;
    justify-content: space-evenly;
}
.imagens2 {
    width: 21vw;
    margin-top: 1rem;
}
.imagens2:hover {
    width: 22vw;
}
.linha3 {
    display: flex;
    justify-content: space-evenly;
}
.imagens3 {
 width: 21vw;
 margin-top: 1rem;
}
.imagens3:hover {
    width: 22vw;
}
footer {
    margin-top: 1rem;
    width: 100%;
}
.final {
    display: flex;
    justify-content: space-evenly;
}
.copyright {
font-weight: bold;
font-size: 20px;
}
.letrinhas {
    font-size: 15px;
}
.letrinas2 {
    font-size: 15px;
    margin-left: 46rem;
}












@media (min-width: 201px) and (max-width: 500px){ 
    header {
        display: flex;
        justify-content: center;
    }
    nav {
        display: none;
    }
    .laranja {
        width: 450px;
        height: 500px;
        margin-top: 3rem;;
    }
    .titulo {
        position: relative;
        right: 3rem;
        bottom: 16rem;
       font-size: 3rem;
    }
    .subtitulo {
        font-size: 1.5rem;
        margin-top: 3rem;
        position: relative;
        right: 3rem;
    }
    .subtitulo:hover {
        font-size: 1.6rem;
    }
    .linha1, .linha2, .linha3 {
        flex-direction: column;
        align-items: center;
    }
    .imagens1, .imagens2, .imagens3 {
        width: 70vw;
        position: relative;
        bottom: 10rem;
    }
    .imagens1:hover, .imagens2:hover, .imagens3:hover {
        width: 73vw;
    }
 }